.node-news,
.node-publication,
.node-basic-page,
.cke_editable {
  ul,
  ol {
    @apply tw-ml-8 tw-my-8;
  }

  ul {
    li {
      @apply tw-list-disc tw-py-2;
    }
  }

  ol {
    @apply tw-list-decimal;

    ol {
      list-style-type: upper-alpha;

      ol {
        list-style-type: lower-roman;

        ol {
          list-style-type: lower-alpha;
        }
      }
    }
  }
}


.page-toc {
  @apply tw-mb-16;

  ul {
    @apply tw-list-none tw-ml-0;
  }

  li {
    @apply tw-list-none tw-py-1;

    &:before {
      @apply tw-inline-block tw-pr-6;
      content: "-";
      width: 1rem;
    }
  }
}
