.icon-home {
  @apply tw-inline-block;
  background-image: url("../assets/home.svg");
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: bottom;
  width: 18px;
  height: 24px;
}
