.footer {
  h2 {
    @apply tw-text-white tw-text-sm tw-leading-sm;
  }

  li {
    @apply tw-pb-4 tw-font-bold tw-text-sm;
  }
}

.footer_first,
.footer_second {
  a {
    @apply tw-text-white;
  }
}

.social-icon {
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: center;

  @supports (display: flex) {
    background: unset;
  }
}

.footer_third {
  i {
    &.fa-facebook-f {
      background-image: url("../assets/facebook-blue.svg");
    }

    &.fa-twitter {
      background-image: url("../assets/twitter-blue.svg");
    }

    &.fa-linkedin-in {
      background-image: url("../assets/linkedin-blue.svg");
    }
  }

}
