.main-bg {
  background-color: #0b165c;
  background-image: linear-gradient(#090a1e, #070945 20%, #0b165c, #143270 70%);
  @apply tw-bg-cover;
}

.front-bg {
  @apply main-bg tw-bg-bottom tw-bg-center;
  background-image: url("../assets/header.png");
}

.search-border {
  @apply tw-border tw-border-light tw-border-solid;
}

.region_hero {
  .search-block-form {
    form {
      @apply search-border;
    }

    .form-submit {
      @apply tw-bg-no-repeat tw-bg-center tw-bg-white;
      background-image: url("../assets/icon_search-blue.svg");
      background-size: 25px 20px;
      content: "";

      @screen xs {
        @apply tw-bg-light tw-bg-auto;
        background-image: url("../assets/icon_search.svg");
      }
    }
  }
}

.block--nicsc-highlight {
  h2 {
    @apply tw-leading-xl-tight;
    letter-spacing: -1px;

    @screen sm {
      @apply tw-leading-xl;
    }
  }

  p {
    @apply tw-text-black tw-text-md tw-font-bold tw-my-8 tw-mx-0 tw-leading-lg;

    @screen sm {
      @apply tw-text-lg;
    }
  }
}

.menu_cisp {
  li {
    @apply tw-leading-sm tw-inline-block tw-flex;
  }
}



.menu_main {
  @apply tw-text-justify;

  &::after {
    @apply tw-w-full tw-inline-block;
    content: '';

    @supports (display: flex) {
      content: unset;
    }
  }

  @supports (display: flex) {
    text-align: unset;
  }

  &--item {
    @apply tw-text-base tw-static tw-w-full tw-inline-block tw-justify-between tw-content-center tw-border-b tw-flex-auto tw-flex;

    a:hover,
    a:focus {
      @apply tw-no-underline;
    }

    @screen sm {
      @apply tw-text-md;
    }

    @screen md {
      @apply tw-text-base tw-w-auto tw-border-0 tw-items-end;

      &-text,
      a {
        @apply tw-leading-sm;
        padding-bottom: .8rem;
      }

      .is-active,
      &:hover,
      &:focus {
        @apply tw-border-b-3 tw-border-solid tw-border-white;
        margin-bottom: -.28rem;
      }
    }
  }

  &--grad {
    background: #34356c;
    background: linear-gradient(to bottom, rgba(#34356c, 0.8), rgba(#fff, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EE34356c,endColorstr=#00ffffff);
    top: 100%;
    height: 75rem;
    width: 100%;
  }

  &--sub {
    @apply tw-top-0 tw-left-0 tw-text-left;

    @screen md {
      left: calc(-50vw + 50%);
      top: 100%;
    }

    &--item {
      @apply tw-text-heading tw-py-4 tw-text-left tw-border-b tw-font-normal;

      &:hover,
      &:focus {
        @apply tw-no-underline;
      }

      &:last-of-type {
        @apply tw-border-b-0;
      }

      @screen md {
        @apply tw--m-2 tw-border-b-0 tw-font-bold tw-pt-6 tw-pb-0;

        &:hover,
        &:focus {
          @apply tw-underline;
        }

      }
    }

    a {
      @apply tw-text-heading;
    }
  }
}
