.main-bg {
  background-image: linear-gradient(#090a1e, #070945 20%, #0b165c, #143270 70%);
  @apply tw-bg-cover;
}

.front-bg {
  @apply main-bg;
  background-image: url("../assets/header.png");
}

.search-border {
  @apply tw-border tw-border-light tw-border-solid;
}

.region_hero {
  .search-block-form {
    form {
      @apply search-border;
    }
    .form-search {
      //@apply search-border;
    }

    .form-submit {
      @apply tw-bg-light tw-bg-no-repeat tw-bg-center;
      background-image: url("../assets/icon_search.svg");
      content: "";
    }
  }
}

.block--nicsc-highlight {
  h2 {
    letter-spacing: -1px;
    line-height: 3.3rem;

    @screen sm {
      line-height: 4rem;
    }
  }

  p {
    @apply tw-text-black tw-text-md tw-font-bold tw-my-8 tw-mx-0;
    line-height: 3rem;

    @screen sm {
      @apply tw-text-lg;
    }
  }
}

.menu_cisp {
  li {
    line-height: 2.3rem;
  }
}

.menu_main {
  &--item {
    @apply tw-text-base tw-static tw-w-full tw-flex tw-justify-between tw-content-center tw-border-b tw-flex-auto;

    a:hover {
      @apply tw-no-underline;
    }

    @screen sm {
      @apply tw-text-md;
    }

    @screen md {
      @apply tw-text-base tw-w-auto tw-border-0 tw-items-end;

      a {
        padding-bottom: 0.8rem;
      }

      .is-active,
      a:hover,
      a:focus {
        @apply tw-border-b-3 tw-border-solid tw-border-white tw-pb-2;
        transition: all 0.1s ease;
      }

      &:hover .menu_main--sub {
        @apply tw-visible;
        transition: all 0.1s ease;
      }
    }
  }

  &--grad {
    background-image: linear-gradient(rgba(#34356c, 0.8), rgba(#fff, 0));
    top: 100%;
    height: 75rem;
  }

  &--sub {
    left: calc(-50vw + 50%);
    top: 100%;

    &--item {
      @apply tw-text-heading tw--m-2 tw-pt-6 tw-text-left;
    }

    a {
      @apply tw-text-heading;
    }
  }
}

