.main-bg {
  background-image: linear-gradient(#090a1e, #070945 20%, #0b165c, #143270 70%);
  @apply tw-bg-cover;
}

.front-bg {
  @apply main-bg tw-bg-bottom tw-bg-center;
  background-image: url("../assets/header.png");
}

.search-border {
  @apply tw-border tw-border-light tw-border-solid;
}

.region_hero {
  .search-block-form {
    form {
      @apply search-border;
    }
    .form-search {
      //@apply search-border;
    }

    .form-submit {
      @apply tw-bg-light tw-bg-no-repeat tw-bg-center;
      background-image: url("../assets/icon_search.svg");
      content: "";
    }
  }
}

.block--nicsc-highlight {
  h2 {
    letter-spacing: -1px;
    line-height: 3.3rem;

    @screen sm {
      line-height: 4rem;
    }
  }

  p {
    @apply tw-text-black tw-text-md tw-font-bold tw-my-8 tw-mx-0;
    line-height: 3rem;

    @screen sm {
      @apply tw-text-lg;
    }
  }
}

.menu_cisp {
  li {
    line-height: 2.3rem;
  }
}

.menu_main {
  &--item {
    @apply tw-text-base tw-static tw-w-full tw-flex tw-justify-between tw-content-center tw-border-b tw-flex-auto;

    a:hover,
    a:focus {
      @apply tw-no-underline;
    }

    @screen sm {
      @apply tw-text-md;
    }

    @screen md {
      @apply tw-text-base tw-w-auto tw-border-0 tw-items-end;

      h2, a {
        padding-bottom: .8rem;
        line-height: 2.4rem;
      }

      .is-active,
      &:hover,
      &:focus {
        @apply tw-border-b-3 tw-border-solid tw-border-white;
        margin-bottom: -0.28rem;
      }

      //&:hover .menu_main--sub,
      //&:focus .menu_main--sub {
      //  @apply tw-visible;
      //  transition: all 0.3s ease;
      //}
    }
  }

  &--grad {
    background-image: linear-gradient(rgba(#34356c, 0.8), rgba(#fff, 0));
    top: 100%;
    height: 75rem;

    //&:hover {
    //  @apply disappear tw-opacity-0;
    //  transition: opacity 0.2s ease;
    //}
  }

  &--sub {
    @apply tw-top-0 tw-left-0;

    @screen md {
      left: calc(-50vw + 50%);
      top: 100%;
    }


    &--item {
      @apply tw-text-heading tw-py-4 tw-text-left tw-border-b tw-font-normal;

      &:hover,
      &:focus {
        text-decoration: none;
      }

      &:last-of-type {
        @apply tw-border-b-0;
      }

      @screen md {
        @apply tw--m-2 tw-border-b-0 tw-font-bold tw-pt-6 tw-pb-0;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

      }
    }

    a {
      @apply tw-text-heading;
    }
  }
}
