.user-login-form,
.user-pass {
  .form-item {
    @apply tw-mb-8;
  }

  label {
    @apply tw-font-bold tw-block;
  }

  input {
    @apply tw-border tw-border-text tw-block;
  }

  .description {
    @apply tw-text-base;
  }

  .button {
    @apply tw-border-0 tw-p-4 btn tw-bg-heading tw-text-white tw-font-bold;
  }
}

.form-required {
  &::after {
    @apply tw-pl-2 tw-text-warning;
    content: "*";
  }
}
