.block_search {
  .form-item-search-api-fulltext {
    label {
      @apply tw-font-bold;
    }

    input {
      @apply tw-max-w-full tw-border tw-border-gray-600 tw-p-2 tw-my-4 tw-block;
    }
  }

  .form-submit:hover {
    @apply tw-bg-text;
  }

  .form-actions {
    input {
      @apply btn btn--heading tw-p-2 tw-text-sm tw-font-bold tw-mt-8;
      width: 10rem;
    }
  }
}

.facets-widget-links {
  @apply tw-p-4;

  .facet-item {
    @apply tw-px-2 tw-py-3;
  }

  a.is-active {
    .facet-item__value {
      @apply tw-text-text;
    }

    &:hover {
      //text-decoration: none;
      @apply no-underline cursor-default;
    }
  }
}

.active-facets-wrap {
  a.is-active {
    @apply tw-text-sm font-normal;

    &:hover {
      @apply no-underline cursor-default;
    }

    .facetwrap {
      @apply tw-bg-gray-200 tw-p-2;
    }
  }
}

span.remove {
  @apply tw-bg-gray-700 tw-px-2 tw-text-white;

  &:hover {
    @apply tw-bg-orange-400 cursor-pointer;
  }
}

