{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="tw-pb-4" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol>
      <span class="tw-mr-2 icon-home"></span>
    {% for item in breadcrumb %}
      <li class="tw-inline tw-text-xxs tw-text-breadcrumb">
        {% if item.url %}
          <a href="{{ item.url }}" class="tw-text-primary">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}

        {% if not loop.last %}
          <span class="tw-mx-1">>></span>
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
