{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="tw-pb-4" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol>
      <span class="tw-pr-2"><i class="fas fa-home"></i></span>
    {% for item in breadcrumb %}
      <li class="tw-inline-block tw-text-xxs">
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}

        {% if not loop.last %}
          <span><i class="fas fa-angle-double-right tw-text-xxs"></i></span>
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
