.left {
  @apply tw-float-left;

  @supports (display: flex) {
    @apply tw-float-none;
  }
}

.right {
  @apply tw-float-right;

  @supports (display: flex) {
    @apply tw-float-none;
  }
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;

  @supports (display: flex) {
    content: unset;
  }
}
