.header-hero {
  @screen md {
    max-height: 5rem;
  }

  header {
    @apply tw-mx-auto;
    max-width: 500px;

    @screen md {
      @apply tw-mx-0;
    }
  }
}

.region_hero {
  @screen md {
    max-width: 375px;
  }

  .search-block-form {
    @apply tw-w-full;
    height: 4rem;

    @screen md {
      height: 5rem;
    }

    form {
      @apply tw-flex tw-w-full tw-h-full;

      .form-item {
        @apply tw-w-full;
      }
    }

    .form-text {
      @apply tw-w-full tw-h-full tw-border-0;
    }

    .form-submit {
      @apply tw-text-0 tw-h-full tw-border-0;
      width: 52px;
    }
  }

  .burger-nav {
    @apply tw-flex tw-flex-row tw-items-center tw-text-white tw-font-bold tw-mr-4 tw-justify-between;

    @screen md {
      @apply tw-hidden tw-w-0 tw-mr-0;
    }

    p {
      @apply tw-px-4 tw-m-0;
    }
  }
}

.block--nicsc-highlight {
  @screen sm {
    max-width: 521px;
  }
}

