.ag_wrapper {
  left: calc(-50vw + 50%);
}

.ag_block {
  .ag_layout {
    @apply tw-px-20p;
  }

  h2 {
    @apply tw-text-xl tw-my-8 tw-text-primary tw-w-full tw-flex-none tw-px-20p;
  }

  & > div {
    @screen md {
      @apply tw-w-1/3 tw-px-20p tw-float-left;

      @supports (display: flex) {
        @apply tw-float-none;
      }
    }
  }

  .layout-builder-block {
    @apply tw-p-0;
  }

  .ag_image {
    img {
      @apply tw-w-full tw-object-cover;
    }

    @screen sm {
      @apply tw-w-full tw-pt-6;
      max-height: 165px;
      max-width: 250px;
    }

    @screen md {
      @apply tw-max-w-full tw-pt-0;
      max-height: 140px;
      height: unset;
      width: unset;
    }
  }
}

.ag_image,
.news-image {
  max-height: 140px;
}

.news-image {
  @screen sm {
    height: 165px;
    width: 250px;
  }

  @screen md {
    @apply tw-max-w-full;
    max-height: 140px;
    height: unset;
    width: unset;
  }
}

.views-field-field-photo {
  @screen sm {
    @apply tw-order-last;
  }

  @screen md {
    @apply tw-order-none tw-px-0;
    height: unset;
    width: auto;
  }
}

.views-field-nothing {
  @screen sm {
    @apply tw-pr-20p tw-w-full;
  }

  @screen md {
    @apply tw-px-0;
  }

  time {
    @apply tw-font-bold tw-text-base;
  }

  p {
    @apply tw-mb-0 tw-mt-2;
  }
}

.views-field-field-taxonomy-icon {
  .field-content {
    @apply tw-mx-auto;
    max-width: 15rem;
  }
}

.views-field-name {
  @apply tw-text-center tw-py-8;

  a {
    @apply tw-text-black;
  }
}

.view-display-id-latest_news_block,
.ag_body {
  p {
    @apply tw-mb-0 tw-mt-2;
  }
}

.view-display-id-latest_news_block {
  .views-row {
    @apply tw-float-left;

    @supports (display: flex) {
      @apply tw-float-none;
    }
  }
}

.block_information-for {
  li {
    @apply tw-float-left;

    @supports (display: flex) {
      @apply tw-float-none;
    }
  }
}
