.disappear {
  @apply tw-hidden tw-h-0 tw-p-0 tw-m-0 tw-w-0;

  &-md {
    @screen md {
      @apply disappear;
    }
  }
}

.menu-mob {
  @apply tw-fixed tw-w-full tw-h-screen tw-inset-0 tw-z-10 tw-hidden;

  &.open {
    @apply tw-flex;
  }

  @screen md {
    @apply tw-relative tw-inset-auto tw-w-auto tw-h-auto tw-z-auto tw-block;

    @supports (display: flex) {
      @apply tw-flex;
    }
  }
}

