@import "normalise";

/**
 * Box-sizing
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}






/**
 * Typography
 */

:root {
  font-size: 62.5%;
}

body {
  color: $text;
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint($md) {
    font-size: 1.8rem;
    //line-height: 2.7rem;
  }
}

h1 {
  color: $heading;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 2.8rem;
  margin: 2.7rem 0 2.5rem;

  a {
    color: $heading;
  }
}

h2 {
  color: $heading;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.4rem;

  @include breakpoint($sm) {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  a {
    color: $heading;
  }
}

h3 {
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 2.8rem;
  margin: 1.2rem 0;

  //@include breakpoint($lg) {
  //  font-size: 1.6rem;
  //  line-height: 2.4rem;
  //  margin: 1rem 0;
  //}

  a {
    color: $heading;
  }
}

p,
li {
  font-size: 1.6rem;
  line-height: 2.4rem;

  @include breakpoint($md) {
    font-size: 1.8rem;
    //line-height: 2.7rem;
  }
}

a {
  color: $link;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  transition-duration: .25s;
  transition-timing-function: ease-out;
}

img {
  max-height: 100%;
  max-width: 100%;
}

ol,
ul {
  padding-left: 0;
}

button {
  border: 0;
}
