/**
 * Button styling.
 */

.btn {
  border-radius: .5rem;
  padding: .5rem 1rem;

  &--more {
    width: 15rem;
    height: 4rem;
  }

  @each $color, $code in $colors {
    &--#{$color} {
      background-color: #{$code};
      font-size: 2.1rem;
      line-height: 3rem;
      font-weight: bold;
      text-align: center;
      color: $white;

      a {
        color: $white;
      }
    }
  }
}
