.toolbar-menu {
  li {
    font-size: small;
  }
}

.tabs {
  padding: 2rem 0;

  li {
    font-size: 1.6rem;

    a {
      padding: 1rem 2rem;

      &.is-active {
        background-color: $highlight;
      }
    }


  }
}
