<footer role="contentinfo" class="tw-bg-secondary tw-pt-20 tw-pb-64">
  <div class="container tw-flex">
    {{ page.footer_first }}
    {{ page.footer_second }}
    {{ page.footer_third }}
  </div>
</footer>
