<footer role="contentinfo" class="tw-bg-secondary tw-px-12 tw-pt-12 md-tw-pt-20 tw-pb-64">
  <div class="container tw-flex tw-flex-wrap tw-text-sm">
    {{ page.footer_first }}
    {{ page.footer_second }}
    {{ page.footer_third }}
  </div>
</footer>
