<div class="tw-w-full bg--white">
  <div class="page">

  </div>
  <div class="submenu">
    <h2>In this section</h2>
    {% include '@cybersecurity/navigation/menu--main--primary-menu--submenu.html.twig' %}
  </div>
</div>
