/**
 * List styles
 */

.list {
  li {
    @apply tw-py-px tw-px-0;
    display: list-item;
  }

  &--bullet {
    @apply tw-list-disc tw-pl-9;

    &--md {
      @screen md {
        @apply list--bullet;
      }
    }
  }


  &--inline {
    li {
      @apply tw-inline-block;
    }

    &-sm {
      li {
        @screen sm {
          @apply tw-inline-block;
        }
      }
    }

    &-md {
      li {
        @screen md {
          @apply tw-inline-block;
        }
      }
    }
  }

  &--row {
    li {
      @apply tw-block;
    }
  }

  &_heading {
    a {
      @apply tw-text-heading;
    }
  }

  &_white {
     a {
       @apply tw-text-white;
     }

     &-md {
       @screen md {
         a {
           @apply tw-text-white;
         }
       }
     }
   }
}



