{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ attributes.addClass('md-tw-flex md-tw-justify-end tw-px-8 max-tw-px-0 tw-order-2 md-tw-order-none md-tw-mr-4') }}>
    {{ content }}
  </div>
{% endif %}
