{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <section{{ attributes.addClass('region_hero right tw-w-full md-tw-w-1/2 tw-flex tw-my-12 md-tw-my-0 md-tw-pl-4 lg-tw-pl-0') }}>
    {{ content }}
  </section>
{% endif %}
