/**
 * List styles
 */

.list {
  li {
    display: list-item;
    padding: 1px 0;

    a {
      //color: $white;
    }
  }

  &--bullet {
    list-style-type: disc;
    padding-left: 16px;
  }


  &--inline {
    li {
      display: inline-block;
    }

    &-md {
      li {
        @include breakpoint($md) {
          display: inline-block;
        }
      }
    }

    &-sm {
       li {
         @include breakpoint($sm) {
           display: inline-block;
         }
       }
    }
  }

  &--row {
    li {
      display: block;
    }
  }

  &_white {
    a {
      color: $white;
    }
  }
}



